<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>
<body>
    
    <div class="top-bar">
        <div class="title">Follow Your Track! 🚌</div>
        <div class="buttons">
            <button onclick="location.href='/driver_profile'"><i class="fa fa-user"></i> Profile</button>
            <button onclick="location.href='/logout'"><i class="fa fa-sign-out-alt"></i> Logout</button>
        </div>
    </div>
    <h2>Know Your Schedules 📅</h2>

    {% if notifications %}
    <div class="notification-box">
        <h3>🔔 New Notifications</h3>
        <ul>
            {% for notification in notifications %}
            <li>
                New trip assigned on <strong>{{ notification.date }}</strong> .
            </li>
            {% endfor %}
        </ul>
    </div>
    {% else %}
    <p>No new notifications.</p>
    {% endif %}


    <div class="image-container">
    <div class="file-card">
        <span class="emoji">📅</span>
        <button onclick="location.href='{{ url_for('my_schedules') }}'">MY SCHEDULES</button>
    </div>
    <div class="file-card">
        <span class="emoji">📊</span>
        <button onclick="location.href='{{ url_for('report_issue') }}'">REPORTS/ISSUES</button>
    </div>
</div>

</body>
</html>
